.button-main {
  padding: 10px;
}

.btn-save {
  background-color: #fff;
  color: orange;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-cancel {
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
