.button-main {
  padding: 10px;
}

.btn-delete {
  background-color: red;
  color: #fff;
  border: 1px solid #e7e7e8;

  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-cancel {
  background-color: #fff;
  color: #000;
  border: 1px solid #e7e7e8;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
