.accordion-container {
  border: 15px solid rgba(0, 0, 0, 0.041);
  width: 550px;
  /* height: fit-content; */
  padding: 20px;
  display: flex;
  flex-direction: column;

  position: relative;
}

.accordion-container-disabled::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.041);
}

.accordion-headline {
  margin-bottom: 10px;
  font-weight: 700;
}

.accordion-questions {
  animation: fadeIn 2s;
}

.accordion-btns {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.headline-container {
  display: flex;
  justify-content: space-between;
}

.accordion-collapse-icon {
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .accordion-container {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .accordion-container {
    width: 350px;
  }
}
